<h1>Edit poll</h1>

<form id="edit-poll" name="poll">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Poll" />
  </div>

</form>

<a href="#/index">Back</a>
